@if(isLoading){
<div class="cart-loading">
  <p>Loading your cart...</p>
</div>
} @else if(cartItems.length > 0){

<div class="cart-container">
  <h2>Your Cart</h2>

  <div class="cart-items">
    @for (item of cartItems; track item.productId) {
    <div class="cart-item">
      <a [routerLink]="['/details', item.productId]" class="cart-image">
        <img [src]="item.productDetails?.thumbnail" alt="Product" />
      </a>

      <div class="cart-info">
        <h3 class="product-title-responsive" [attr.title]="item.productDetails?.title">{{ item.productDetails?.brand.toUpperCase()}} {{
          item.productDetails?.category.name.toUpperCase() }}</h3>
        <h3 class="title">{{ item.productDetails?.title}}</h3>
        <p>{{ item.productDetails?.price.current }}$</p>

        <div class="cart-quantity">
          <button (click)="decreaseQty(item)">−</button>
          <span>{{ item.quantity }}</span>
          <button (click)="increaseQty(item)">+</button>
        </div>
      </div>

      <div class="cart-info details">
        <div>
          <h3>In Stock:</h3>
          <p>{{ item.productDetails?.stock }}</p>
        </div>

        <div>
          <h3>Rating:</h3>
          <p>{{ item.productDetails?.rating }}</p>
        </div>
      </div>

      <button class="remove" (click)="removeFromCart(item)">×</button>
    </div>
    }
  </div>

  <div class="cart-summary">
    <p>
      Subtotal: <strong>{{ getTotalPrice() }}$</strong>
    </p>
    <a class="checkout-btn" [routerLink]="['/checkout']">
      Proceed to Checkout
    </a>
  </div>
</div>
} @else {
<div class="empty-cart">
  <h2>Your cart is empty 🛒</h2>
  <p>Add something nice!</p>
</div>
}

<app-pop-up></app-pop-up>