<div class="wrapper">
  <div class="cart-headers">
    <h2
      [ngClass]="{ active: operation === 'details' }"
      (click)="operation = 'details'"
    >
      Details
    </h2>
    <h1>|</h1>
    <h2
      [ngClass]="{ active: operation === 'reviews' }"
      (click)="operation = 'reviews'"
    >
      Reviews
    </h2>
  </div>

  @if(operation === 'details') {
  <div class="product-detail">
    <a class="back-btn" routerLink="/home"
      ><img src="assets/Images/arrow.png" alt="" /> Back</a
    >
    <div class="image-section">
      <div class="slider-btn" (click)="prev(selectedProduct.images)">&#10094;</div>
      <img [src]="selectedProduct.images[index]" alt="Product image" />
      <div class="slider-btn" (click)="next(selectedProduct.images)">
        &#10095;
      </div>
    </div>

    <div class="info-section">
      <h1 class="product-title">{{ selectedProduct.title }}</h1>
      <p class="product-description">{{ selectedProduct.description }}</p>

      <div class="price-box">
        <span class="price">{{
          selectedProduct.price.current
            | currency : selectedProduct.price.currency
        }}</span>

        @if(selectedProduct.price.discountPercentage !== 0){
        <span class="before">{{
          selectedProduct.price.beforeDiscount
            | currency : selectedProduct.price.currency
        }}</span>
        <span class="discount"
          >-{{ selectedProduct.price.discountPercentage }}%</span
        >
        }
      </div>

      @if(averageRating > 0){
      <div class="stars">
        @for(star of starsDisplay; track $index){
        <ng-container>
          <span
            class="star"
            [ngClass]="{
              filled: star === 'full',
              half: star === 'half'
            }"
            >&#9733;</span
          >
        </ng-container>
        }
        <span class="average-number">({{ averageRating.toFixed(1) }})</span>
      </div>
      }

      <div class="features">
        <div>
          <strong>Brand:</strong>
          <p>{{ selectedProduct.brand.toUpperCase() }}</p>
        </div>
        <div>
          <strong>Warranty:</strong>
          <p>{{ selectedProduct.warranty }} year(s)</p>
        </div>
        <div>
          <strong>Stock:</strong>
          <p>
            {{
              selectedProduct.stock >= 0
                ? selectedProduct.stock
                : "Out of stock"
            }}
          </p>
        </div>
        <div>
          <strong>Category:</strong>
          <p>{{ selectedProduct.category.name }}</p>
        </div>
        <div>
          <strong>Release:</strong>
          <p>{{ selectedProduct.issueDate | date }}</p>
        </div>
      </div>

      <button
        class="add-to-cart-btn"
        [disabled]="selectedProduct.stock <= 0 || updating"
        (click)="addToCart()"
      >
        {{ selectedProduct.stock <= 0 ? "Out of Stock" : "Add to Cart" }}
      </button>
    </div>
  </div>
  }@else {
  <div class="reviews">
    <a class="back-btn" routerLink="/home"
      ><img src="assets/Images/arrow.png" alt="" /> Back</a
    >
    @if(selectedProduct.ratings.length > 0){
    <div class="review-list">
      <h2>Reviews ({{ selectedProduct.ratings.length }})</h2>
      <div class="average-rating">
        <h4>Average Rating {{ selectedProduct.rating }}</h4>
      </div>
      <div class="reviews-wrapper">
        @for(review of selectedProduct.ratings; track $index){

        <div class="review-item">
          <a [routerLink]="['/reviewer', review.userId]" class="reviewer-info">
            <img
              [src]="
                reviewersMap[review.userId]?.avatar || 'assets/Images/OIP.webp'
              "
              alt="Reviewer avatar"
            />

            <span class="review-author">
              {{ reviewersMap[review.userId]?.firstName || "Guest" }}
            </span>
          </a>
          <div class="review-rating">
            <ng-container *ngFor="let i of [].constructor(review.value)">
              <span class="star">&#9733;</span>
            </ng-container>
          </div>
          <div class="review-header">
            <span class="review-date">{{
              review.createdAt | date : "shortDate"
            }}</span>
          </div>
        </div>
        }
      </div>

      <div class="star-input">
        <div class="stars-wrapper">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <span
              class="star"
              [class.filled]="star <= (hoveredRating || selectedRating)"
              (click)="selectRating(star)"
              (mouseenter)="setHover(star)"
              (mouseleave)="clearHover()"
            >
              &#9733;
            </span>
          </ng-container>
          <span class="rating-label">{{ selectedRating }}/5</span>
        </div>
        <button (click)="rate()">Submit</button>
      </div>
    </div>
    }@else {
    <p>No reviews available for this product.</p>
    }
  </div>
  }
</div>

<app-pop-up></app-pop-up>
