@if(selectedProductId===null){
<div class="container">
  <div class="filter-products">
    <div class="wrapper">
      <p (click)="showFilter = !showFilter" class="toggle-filter">
        @if(showFilter){ HIDE }@else {SHOW} FILTER
      </p>
      <div class="filter-wrapper" [ngClass]="{ active: showFilter === true }">
        <div>
          <div class="category-filters">
            @for(item of categories; track $index){
            <div
              class="category"
              (click)="filter(selectedBrand, item.id)"
              [ngClass]="{ active: selectedCategoryID === item.id }"
            >
              <img [src]="item.image" alt="" />
            </div>
            }
          </div>

          <div class="brand-filters">
            @for(item of brands; track $index){
            <div
              class="filter-btn"
              [ngClass]="{ active: selectedBrand === item }"
              (click)="filter(item, selectedCategoryID)"
            >
              <p>{{ item.toUpperCase() }}</p>
            </div>
            }
          </div>
        </div>
        <div class="filter-btn" (click)="resetFilters()">
          <p>Reset Filter</p>
        </div>
      </div>
    </div>

    <div class="section-wrapper">
      <h2>Our Products:</h2>
      <section>
        @for (product of allProducts; track $index) {
        <div class="card">
          <div class="card-slider">
            @if(product.price.discountPercentage !== 0){
            <div class="discount">
              <p>{{ product.price.discountPercentage }}% OFF</p>
            </div>
            }
            <img [src]="product.thumbnail" alt="Product Photo" />
          </div>

          <div class="card-content">
            <h2 class="card-title">{{ product.title }}</h2>
            @if(product.stock<=0){
            <p>Out Of stock</p>
            }
            <p>Price: {{ product.price.current }}$</p>
            <button class="card-btn" (click)="openProductDetails(product._id)">
              View Details
            </button>
          </div>
        </div>
        }@empty {
        <h1>No Items Match Your Filter</h1>
        }
      </section>
    </div>
  </div>

  <div class="pagination">
    @for (page of pageList; track $index) {
    <button
      [ngClass]="{ active: page === myPageIndex }"
      (click)="filter(selectedBrand, selectedCategoryID, page)"
    >
      {{ page }}
    </button>
    }
  </div>
</div>
} @else{

<div class="product-detail">
  <button class="back-btn" (click)="closeDetail()">← Back</button>
  <div class="image-section">
    <div class="slider-btn" (click)="prev()">&#10094;</div>
    <img [src]="selectedProduct.images[index]" alt="Product image" />
    <div class="slider-btn" (click)="next(selectedProduct.images)">
      &#10095;
    </div>
  </div>

  <div class="info-section">
    <h1 class="product-title">{{ selectedProduct.title }}</h1>
    <p class="product-description">{{ selectedProduct.description }}</p>

    <div class="price-box">
      <span class="price">{{
        selectedProduct.price.current
          | currency : selectedProduct.price.currency
      }}</span>

      @if(selectedProduct.price.discountPercentage !== 0){
      <span class="before">{{
        selectedProduct.price.beforeDiscount
          | currency : selectedProduct.price.currency
      }}</span>
      <span class="discount"
        >-{{ selectedProduct.price.discountPercentage }}%</span
      >
      }
    </div>

    @if(averageRating > 0){
    <div class="stars">
      @for(star of starsDisplay; track $index){
      <ng-container>
        <span
          class="star"
          [ngClass]="{
            filled: star === 'full',
            half: star === 'half'
          }"
          >&#9733;</span
        >
      </ng-container>
      }
      <span class="average-number">({{ averageRating.toFixed(1) }})</span>
    </div>
    }

    <div class="features">
      <div><strong>Brand:</strong> {{ selectedProduct.brand }}</div>
      <div>
        <strong>Warranty:</strong> {{ selectedProduct.warranty }} year(s)
      </div>
      <div>
        <strong>Stock:</strong>
        {{ selectedProduct.stock > 0 ? selectedProduct.stock : "Out of stock" }}
      </div>
      <div><strong>Category:</strong> {{ selectedProduct.category.name }}</div>
      <div>
        <strong>Release:</strong> {{ selectedProduct.issueDate | date }}
      </div>
    </div>

    <button
      class="add-to-cart-btn"
      [disabled]="selectedProduct.stock === 0"
      (click)="userHasCart ? addToCart(selectedProduct._id) : addCreateToCart(selectedProduct._id)"
    >
      {{ selectedProduct.stock === 0 ? "Out of Stock" : "Add to Cart" }}
    </button>
  </div>
</div>

}
