@import 'variables';

.payment-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f2f4fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
 
  input {
    padding: 10px;
    border: 1px solid #d5daf0;
    border-radius: 3px;
    background-color: #fafaff;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        input {
          width: 100%;
        }
      
    }
  }

  button {
    align-self: center;
    @extend %buttons;
    padding: 10px 15px;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 16px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d5daf0;
    border-radius: 3px;
    background-color: #fafaff;
  }
}