<section class="compare-container">
  <div class="compare-header">
    <div class="header-item">Name</div>
    <div class="header-item">Current Price</div>
    <div class="header-item">Original Price</div>
    <div class="header-item">Rating</div>
    <div class="header-item">Warranty</div>
    <div class="header-item">Remove</div>
  </div>

  @for (product of comparing; track $index) {
  <div class="compare-row">
    <a [routerLink]="['/details', product._id]" class="product-title">
      {{ product.title | shortenTitle }}
    </a>
    <div class="product-price">{{ product.price.current }}$</div>
    <div class="product-old-price">{{ product.price.beforeDiscount }}$</div>
    <div class="product-rating">⭐ {{ product.rating }}</div>
    <div class="product-warranty">{{ product.warranty }} Years</div>
    <button class="remove-btn" (click)="remove(product)">Remove</button>
  </div>
  }
</section>
